<div style="background-color:#d7d7d7">
  <!-- Start WOWSlider.com BODY section -->
  <div id="wowslider-container1">
  <div class="ws_images"><ul>
<li><img src="assets/indexslide.png" alt="台灣公聽會 資訊百老匯" title="台灣公聽會 資訊百老匯" id="wows1_0"/>為了對抗老謀深算的政府，身為軍師的你，準備好策略對抗了嗎？還是你能更高招的創造雙贏？</li>
<li><img src="assets/img4.jpg" alt="大安溪公聽會" title="大安溪公聽會" id="wows1_1"/>台灣雲豹已經絕種了，下一個又是誰呢?</li>
<li><img src="assets/img5.jpg" alt="核四公聽會" title="核四公聽會" id="wows1_2"/>日本福島仍舊無法恢復，同樣處在地震帶的台灣，又該如何?</li>
<li><img src="assets/img6.jpg" alt="「石化工業政策評估說明書」公聽會草草結束" title="「石化工業政策評估說明書」公聽會草草結束" id="wows1_3" />
  100/02/11<br>原定一整天的會議舉行四個小時即結束，節能減碳的政策綱領是否有遵守？只剩100隻的白海豚未來又何去何從？</li>
</ul></div>
<div class="ws_bullets"><div>
<a href="#" title="台灣公聽會 資訊百老匯"><img src="assets/indexslidee.png" alt="台灣公聽會 資訊百老匯"/>1</a>
<a href="#" title="大安溪公聽會"><img src="assets/img44.jpg" alt="大安溪公聽會"/>2</a>
<a href="#" title="核四公聽會"><img src="assets/img55.jpg" alt="核四公聽會"/>3</a>
<a href="#" title="「石化工業政策評估說明書」公聽會草草結束" title="「石化工業政策評估說明書」公聽會草草結束"><img src="assets/img66.jpg" alt="「石化工業政策評估說明書」公聽會草草結束" title="「石化工業政策評估說明書」公聽會草草結束">4</a>
</div></div>
  <div class="ws_shadow"></div>
  </div>
  <!-- End WOWSlider.com BODY section -->
  <script type="text/javascript">
$("#wowslider-container1").wowSlider({effect:"blinds",prev:"",next:"",duration:20*100,delay:20*100,width:1200,height:650,autoPlay:true,stopOnHover:false,loop:false,bullets:true,caption:true,captionEffect:"slide",controls:true,onBeforeStep:0,images:0});
  </script>
</div>
<div class="container">

       <div class="row">

           <div class="col-lg-12">
               <h1 class="page-header">公聽會
                   <small>comming soon</small>
               </h1>
           </div>

       </div>

       <div class="row">
			<% @hearingconferences.each do |conference| %>
           <div class="col-md-3 portfolio-item">
               <a href="portfolio-item.html">
					<%= link_to image_tag(conference.photo), conference %>
               </a>
           </div>
			<% end %>
          

       </div>

       <div class="row">

           <div class="col-lg-12">
               <h1 class="page-header">人氣專文
                   <small>Article</small>
               </h1>
           </div>

       </div>

<div class="row">
			<% @posts.each do |post| %>
           <div class="col-md-3 portfolio-item">
               <a href="portfolio-item.html">
				<%= link_to image_tag(post.cover_photo), post %>
               </a>
           </div>
			<% end %>
       </div>

       <hr>

 </div>
   <!-- /.container -->