
    <!-- Start: MAIN CONTENT -->
    <div class="content">
      <div class="container">
        <div class="page-header">
          <h1>回報公聽會 Report new public hearing to us</h1>
        </div>  
         <section>
                    <div class="ContactForm">
                    <form action="https://docs.google.com/spreadsheet/formResponse?formkey=dDZ3dGNNLVFBTjR4bktTNGhQVEFfa3c6MA&amp;ifq" method="POST">
                        <input type="hidden" name="entry.0.single" value="100703010">
                        <h3>公聽會名稱</h3>
                        <input type="text" name="entry.4.single">

                        <h3>相關網址</h3>
                        <input type="text" name="entry.4.single">
                        <h3>選擇縣市</h3>
                        <select name="entry.3.single">
                                    <option value="Keelung">基隆市
                                    <option value="Taipei">台北市
                                    <option value="NewTaipei">新北市
                                    <option value="Taoyuan">桃園縣
                                    <option value="Hsinchu">新竹縣
                                    <option value="Miaoli">苗栗縣
                                    <option value="Taichung">台中市
                                    <option value="Changhua">彰化縣
                                    <option value="Nantou">南投縣
                                    <option value="Yunlin">雲林縣
                                    <option value="Chiayi">嘉義縣
                                    <option value="Tainan">台南市
                                    <option value="Kaohsiung">高雄市
                                    <option value="Pingtung">屏東縣
                                    <option value="Yilan">宜蘭縣
                                    <option value="Hualien">花蓮縣
                                    <option value="Taitung">台東縣
                                    <option value="Penghu">澎湖縣
                                    <option value="Kinmen">金門縣
                                    <option value="Lienchiang">連江縣
            
                        </select>

                        <h3>鄉鎮市區</h3>
                            <input type="text" name="entry.4.single">
                        <h3>詳細地址（ex：指南路二段64號）</h3>
                            <input type="text" name="entry.4.single">
                        

                        <h3>聯絡信箱</h3>
                            <input type="text" name="entry.4.single">
                        
                        <h3>備註</h3>
                        
                        <textarea name="entry.5.single" cols="30" rows="5"></textarea>

                        <input type="submit" value="送出" name="submit">

                        </form>
                    </div>

            </section> 
    
</div></div>