
Hello，<%= current_user.name %>!!

<div class="row">
    <% @posts.each do |post| %>
  <div class="col-xs-10 col-sm-5 col-sm-offset-1 col-md-3 col-lg-3 pin_space">
        <h2 class="text-center"><%= link_to post.title, post %></h2>
        <%= link_to image_tag(post.cover_photo, class: "img-responsive img-thumbnail"), post, :class => "" %>
        <div class="btn btn-info"><%= link_to post.hearing_conference.title, hearing_conference_path(post.hearing_conference_id) %></div>

  </div>
    <% end %>
</div>