/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require framework_and_overrides
 *= require hearing_conferences
 *= require index
 *= require posts
 *= require report
 *= require scaffolds
 *= require search
 *= require style
 *= require style.mod
 *= require_self
 *= require bootstrap-tagsinput
 */

 body{
  // background-color: #cccccc;
  // background-repeat:repeat-x;
  background-repeat:no-repeat;
 	background-image: url("background.jpg");
 }
 main {
  background-image: url("background.jpg");
  min-height: 550px;
  border:none;
  margin:0;
 	// background-color: #cccccc;
 }
 nav{
 	margin-top: 10px;
 }
 .navbar .navbar-nav {
  display: inline-block;
  float: none;
}
 .navbar .navbar-collapse {
  text-align: center;
}
.navbar-default .navbar-nav > li{
	  border: 0 none;
    font-size: 100%;
    margin: 0 10px;
}
.navbar-default .navbar-nav > li > a{
	color: black;
    font-weight: bold;
}
.nav > li > a > img{
	margin-top: -15px;
	max-height: 90px;
}
@media screen and (min-width: 1024px){
  .container, main{
    width: 1024px;
  }
}