// Place all the styles related to the hearing_conferences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newsWall {
	padding: 60px 0px 100px 0px;
}

.topNews {
   /*border: 1px solid green;*/
  column-count:2;
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  background: black;
  margin: 30px;
}


.topNews img {
  margin: 0 auto;
  padding: 0 auto;
  /*width: 80%;*/
  height: 60%;
}

.viedo {
  color: white;
  background: black;
  /*border: 1px solid blue;*/
  /*margin: 50px auto;*/
  padding: 30px;
  width: 100%;
  height: 60%;
  letter-spacing: 2px;
  
}

.data div{
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 3px;
}

.text {
	padding: 10px;
}

.row {
	margin: 50px 50px 50px 70px;
}


.forum {
	padding: 60px 0px 100px 0px;
}

.forum div{
  font-size: 1em;
  border: 1px solid blue;
  margin: 10px 0px 10px 0px;
  padding: 40px;
}

#tab1 {
	background: black;
}

::selection { background: transparent; }
/* TABS FRAME */
.tabs-frame {
  position: absolute;
  width: 250px; height: 50px; /* ADD 50px TO WIDTH FOR EVERY TAB */
  margin: auto;
  display: block;
}
/* TABS */
.tabs-frame .tab {
  position: relative;
  float: left;
  width: 50px; height: 50px;
  display: block;
}
/* TABS RADIO */
.tabs-frame .tab .radio { display: none; }
.tabs-frame .tab .tab-button {
  cursor: pointer;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 15px; height: 15px;
  margin: auto;
  border-radius: 100%;
  border: 0 double #FFF;
  background: #FFF;
  display: block;
  
  -webkit-transition: .15s linear;
}
.tabs-frame .tab .radio:checked + .tab-button {
  border: 6px double #FFF;
  background: #FC6E51;
}
.tabs-frame .tab .tab-button:hover {
  background: #FC6E51;
}
/* TABS FRAME */
.tabs-frame .tab .tab-frame {
  position: absolute;
  top: 100%; 
  width: 600px;
  border-radius: 5px;
  background: #FFF;
  display: block;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .3);
  
  -webkit-transition: opacity .3s linear,
                      -webkit-transform .3s linear;
  
  -webkit-transform: rotate(-45deg) translate(25%, -25%);
}
.tabs-frame .tab .tab-frame:before {
  content: '';
  position: absolute;
  top: -6px; left: 0; right: 0;
  width: 0; height: 0;
  margin: auto;
  border-width: 0 6px 6px;
  border-style: solid;
  border-color: transparent transparent #FFF;
  display: block;
}
.tabs-frame .tab .radio:checked ~ .tab-button ~ .tab-frame {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  
  -webkit-transform: rotate(0deg) translate(0, 0);  
}
.tabs-frame .tab .tab-frame p {
  padding: 0 20px; margin: 20px 0;
}

// carousel
 /* GLOBAL STYLES
    -------------------------------------------------- */

    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }
// carousel finished

// menu
#menu{
  float: right;
  position: relative;
  left: -50%;
  text-align:left;
}
#menu ul{
  position: relative;
  left: 50%;
  list-style:none;
  padding:0;
  margin:0;
}
#menu li {
  float:left;
  position: relative;
  margin: 0 2px 0 0;
  border-bottom: 0;
  width:176px;
  text-align:center;
}
#menu li a {
  text-decoration:none;
  display:block;
  padding: 8px 15px;
  color: #ffffff;
  font: 20px 'Trebuchet MS', Trebuchet, sans-serif;
  border-radius: 10px 10px 0 0;
  background-color: #2D5960;
}
#menu li a:hover {
  background-color: #DBE4EA;
  color: #0b5394;
}
#txt_cont{
  position:relative;
  width: 100%;
  font: 20px 'Trebuchet MS', Trebuchet, sans-serif;
  line-height:35px;
  border:1px solid #ccc;
  border-top: 0;
  text-align: left;
  /*left:40%;*/
}
.txt_tab{
  padding:8px;
  height: 15cm;
}
#menu ul li a.hover_tab{
  background-color:#dbe4ea;
  color:#0b5394;
}
// menu finished
.span3{
	width: 270px;
	float: left;
    margin-left: 30px;
    min-height: 1px;
}