

div.new_html_code {
      width:950px;
      height:396px;
      min-width:150px;
      min-height:100px;
      text-align:center;
      overflow:hidden;
      display:block;
      margin: 0 auto;
  }

div.cell_html_code {
      width:950px;
      height:50px;
      min-width:150px;
      min-height:100px;
      text-align:center;
      overflow:hidden;
      display:block;
      margin: 0 auto;
  }


.carousel-control {
      border-width: 0px;
      border-color: rgb(255,255,255);
      margin: 0px;
      width: 120px;
}

main {
      margin: 0;
      padding: 0;
} 

.carousel-caption h1 {
      font-size: 25px;
      line-height: 30px;
      color: black;
}

@media only screen and (max-width: 1024px) {
   .carousel-control:hover {
      background: rgba(0,0,0,0.5);
   }
}

@media only screen and (max-width: 760px) {
   .carousel-control:hover {
      background: rgba(0,0,0,0);
   }
}


.session {
      font-size: 15px;
      line-height:200%; 
      color: black;
}

.hc_title {
      font-size: 20px;
      line-height:150%; 
      color: black;
}

.carousel-caption {
      padding-bottom: 10px;
      bottom: 100px;
}

.cell_container {
      display: table;
      margin: 0px auto;   
      padding: 0;
      padding-bottom: 16px;
      text-align:center;
}

.center_cell {
      margin: 0px auto;
      padding: 0px auto;
      text-align:center;
      height: 250px;
      margin-top: 30px;
}

.column {
      display: table-cell;
      text-align:center;
      margin: 0px 14px 0px 14px;
      padding: 5px 0px 5px 0px;
      width: 160px;
      height: 108px;
}

.column:hover {
      background: rgba(19,4,19,0.2);
}

.session.disabled:hover {
    text-decoration: none;
}

.hc_title.disabled:hover {
    text-decoration: none;
    z-index: 0;
}

#hc_cover {
    width: 100%;
}

.show_cover { 
    position: relative; 
}

#hc_cover { 
    z-index: 1; 
}

.show_cover div {
    position: absolute;
    left: 55%;
    right: 15%;
    top: 0; 
    padding: 4px;
    line-height: 100%; 
    text-align: left;
    overflow: hidden;
}

.mask {
    z-index: 2;
    background-color: #000;
    margin-top: 40px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    width: 40%;
    height: 65%;
    opacity: 0.7;
  }

@media only screen and (max-width: 760px) {
   .mask {
    margin-top: 20px;
    height: 70%;
   }
}


.when {
    text-indent: 1em;
    margin-top: 5%;
    z-index: 3;
    color: white;
    font-size: 18px;
    font-style: italic;
    width: 45%;
  }

.place {
    text-indent: 1em;
    margin-top: 9%;
    z-index: 3;
    color: white;
    font-size: 18px;
    font-style: italic;
    width: 45%;
  }

.chairman {
    text-indent: 1em;
    margin-top: 13%;
    z-index: 3;
    color: white;
    font-size: 18px;
    font-style: italic;
    width: 45%;
  }

.organizer {
    text-indent: 1em;
    margin-top: 17%;
    z-index: 3;
    color: white;
    font-size: 18px;
    font-style: italic;
    width: 45%;
  }

.keyword {
    text-indent: 1em;
    margin-top: 21%;
    z-index: 3;
    color: white;
    font-size: 18px;
    font-style: italic;
    width: 45%;
}


@media only screen and (max-width: 760px) {
   .when, .place, .chairman, .organizer, .keyword {
    font-size: 7px;
   }
}

@media only screen and (max-width: 540px) {
   .when, .place, .chairman, .organizer, .keyword {
    font-size: 6px;
   }
}

@media only screen and (max-width: 480px) {
   .when, .place, .chairman, .organizer, .keyword {
    font-size: 5px;
   }
}

@media only screen and (max-width: 300px) {
   .when, .place, .chairman, .organizer, .keyword {
    font-size: 4px;
   }
}



.article_content {
    clear:both;
}

.con_title {
    clear:both;
    font-size: 25px;
    padding-top: 90px;
    padding-bottom: 30px;
    text-align: center;
}

.con_content {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 15px;
}


#com_container {
    width: 80%; 
    margin: 0px auto;

}


#primary {
    float:left;
    width:20%;
}

#content {
    float:right;
    width:40%;
}

#secondary {
    float:left;
    width:40%;
}



#nothing {
    float:left;
    height: 80px; 
    background: rgba(164,197,194,0.7); 
    color:#000;
    width:20%;
    padding: 15px 0px 0px 0px;
}

#com_before {
    float:right;
    height: 80px; 
    background: rgba(164,197,194,0.7); 
    color:#000;
    width:40%;
    font-size: 25px;
    padding: 15px 0px 0px 0px;
}

#com_after {
    float:left;
    height: 80px; 
    background: rgba(164,197,194,0.7); 
    color:#000;
    width: 40%;
    font-size: 25px;
    padding: 15px 0px 0px 0px;
}


#com_before span, #com_after span {
    font-size: 16px;

}

@media only screen and (max-width: 760px) {
   #com_after, #com_before, #nothing {
    font-size: 18px;
   }
}

@media only screen and (max-width: 480px) {
   #com_after, #com_before, #nothing {
    font-size: 15px;
   }
}


#primary, #content, #secondary {
      height: 350px;
      padding: 10px 0;
      font-size: 15px;
      line-height: 16px;
      overflow: scroll;
      padding-left: 1em;
      padding-right: 1em;
      background:#fff;

}

#primary div, #content div, #secondary div {
      padding: 1em;
      height: 80px;
      border-bottom:1px solid;
      border-color: rgba(0,0,0,0.4);
      overflow: hidden;
}


.separation {
      clear: both;
      background: rgba(0,0,0,0); 
      clear: both;
      width: 100%;
      height: 90%;
      padding-top: 150px;
}

.question {
  padding: 0px 50px;  
}

.question_border { 
    font-size: 25px;
    text-align: center;
    color: #fff;
    padding-top: 80px;
    height: 120%;
    clear: both;
    background: #970012;
    line-height: 50px;
}

.question_content:nth-child(3){ 
    background: #8E8E8E;
}

.question_content:nth-child(4){ 
    background: #BEBEBE;
}

.question_content:nth-child(5){ 
    background: #fff;
}



.question_content { 
    padding: 15px 30px 15px 30px;
    clear: both;
    height: 80%;
    background: #fff;
}

.circle {
  text-align: center;
  font-size: 23px;
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  /* width and height can be anything, as long as they're equal */
}

#circle1 {
  width: 30px;
  height: 30px;
  background: #a4c5c2;
}

#circle2 {
  width: 30px;
  height: 30px;
  background: #970012;
}

#img_button {
    float: left;
    margin: 100px 0px 0px 60px;
}


#folder {
  clear: both;
  width: 750px;
  padding: 10px;
  float: left;
}

.fold {
  background: -webkit-linear-gradient(top, rgba(95,147,157,1), #4C737D);
  background: -moz-linear-gradient(top, rgba(95,147,157,1), #4C737D);
  background: -o-linear-gradient(top, rgba(95,147,157,1), #4C737D);
  background: linear-gradient(top, rgba(95,147,157,1), #4C737D);
  padding: 5px;
  width: 750px;
  height: 80px;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}


#toggle { display: none; }

#toggle-label {
  text-align: right;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0px;
  border: 1px solid #e5e5e5;
  font-size: 25px;
  color: #fff;
  background: #6e9ca7;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 15px;
  width: 750px;
  height: 60px;
  max-width: 120%;
}

#toggle:checked ~ #toggle-label{
  margin-bottom: 60px;
}

#toggle:checked ~ .fold:nth-child(odd) {
  margin-top: -82px;
  -webkit-transform: perspective(800px) rotateX(-80deg); 
  -moz-transform: perspective(800px) rotateX(-80deg); 
  transform: perspective(800px) rotateX(-80deg);
}

#toggle:checked ~ .fold:nth-child(even) {
  margin-top: -84px;
    -webkit-transform: perspective(800px) rotateX(80deg); 
  -moz-transform: perspective(800px) rotateX(80deg); 
  transform: perspective(800px) rotateX(80deg);
}

#folder2 {
  clear: both;
  width: 750px;
  padding: 10px;
  padding:0 auto;
  margin:0 auto;
}

.fold2 {
  background: -webkit-linear-gradient(top, rgba(226,227,162,0.5), #e4c540);
  background: -moz-linear-gradient(top, rgba(226,227,162,0.5), #e4c540);
  background: -o-linear-gradient(top, rgba(95,147,157,1), #4C737D);
  background: linear-gradient(top, rgba(95,147,157,1), #4C737D);
  padding: 10px;
  width: 750px;
  height: 80px;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}


#toggle2 { display: none; }

#toggle-label2 {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0px;
  border: 1px solid #e5e5e5;
  font-size: 25px;
  color: #000;
  background: #edd983;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 15px;
  width: 750px;
  height: 60px;
  max-width: 120%;
}

#toggle2:checked ~ #toggle-label2{
  margin-bottom: 60px;
}

#toggle2:checked ~ .fold2:nth-child(odd) {
  margin-top: -82px;
  -webkit-transform: perspective(800px) rotateX(-80deg); 
  -moz-transform: perspective(800px) rotateX(-80deg); 
  transform: perspective(800px) rotateX(-80deg);
}

#toggle2:checked ~ .fold2:nth-child(even) {
  margin-top: -84px;
    -webkit-transform: perspective(800px) rotateX(80deg); 
  -moz-transform: perspective(800px) rotateX(80deg); 
  transform: perspective(800px) rotateX(80deg);
}

 

#folder3 {
  clear: both;
  width: 750px;
  padding: 10px;
  float: right;

}

.fold3 {
  background: -webkit-linear-gradient(top, rgba(178,0,21,0.7), rgb(178,0,21));
  background: -moz-linear-gradient(top, rgba(178,0,21,0.7), rgb(178,0,21));
  background: -o-linear-gradient(top, rgba(95,147,157,1), #4C737D);
  background: linear-gradient(top, rgba(95,147,157,1), #4C737D);
  padding: 10px;
  width: 750px;
  height: 80px;
  color: #000;
  font-size: 15px;
  line-height: 18px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}


#toggle3 { display: none; }

#toggle-label3 {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0px;
  border: 1px solid #e5e5e5;
  font-size: 25px;
  color: #000;
  background: rgba(178,0,21,0.6);
  text-transform: uppercase;
  border-radius: 10px;
  padding: 15px;
  width: 750px;
  height: 60px;
  max-width: 120%;
}

#toggle3:checked ~ #toggle-label3{
  margin-bottom: 60px;
}

#toggle3:checked ~ .fold3:nth-child(odd) {
  margin-top: -82px;
  -webkit-transform: perspective(800px) rotateX(-80deg); 
  -moz-transform: perspective(800px) rotateX(-80deg); 
  transform: perspective(800px) rotateX(-80deg);
}

#toggle3:checked ~ .fold3:nth-child(even) {
  margin-top: -84px;
    -webkit-transform: perspective(800px) rotateX(80deg); 
  -moz-transform: perspective(800px) rotateX(80deg); 
  transform: perspective(800px) rotateX(80deg);
}

#all_folder {
  width: 90%;
  padding:0 auto;
  margin:0 auto;
  overflow: hidden;
}



