.indexslider{
  width:100%;
  height:768px;
  background-color:#91AD70;
}

.publichear_row,
.article_row{
  width:100%;
  height:300px;
  margin:2em;
}

h1{
  margin:0.5em;
}

.publichear{
  float:left;
  padding: 5px 5 5px 5;
  margin:1em;
  height:240px;
  width:320px;
  background-color:black;
  
}

.article{
  float:left;
  padding: 5px 5 5px 5;
  margin:1em;
  height:240px;
  width:320px;
  background-color:black;
}
.black{
  border:5px solid skyblue;
  height:240px;
  width:320px;
}

.black_up{
  background-color:rgba(57,19,52,0);
}

  /* TAGS
  -------------------------------------------------- */

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #db7177;
  border-radius: 3px 0 0 3px;
  color: #0e0404;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  font-size: 15px;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: rgb(246,237,237);
  border-bottom: 15px solid transparent;
  border-left: 10px solid #db7177;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson; 
}



  /* RESPONSIVE
  -------------------------------------------------- */


@media (max-width: 1024px) {
    .tag {font-size: 11px; height: 80%; }
}

@media (max-width: 768px) {
    .conference-title {font-size: 14px;}
}

