// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pin_space{
	margin-bottom: 10px;
	height: 420px;
	overflow: hidden;
}
.tag{
	background-color: #FF1C19;
    color: #FFFFFF;
    display: inline;
}