
  <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="new_html_code"></div>
                    <div class="carousel-caption">
                        <h1>臭臭臭臭臭臭臭臭臭臭臭臭臭臭臭紹祥.</h1>
                        <!-- <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
                        <a class="btn btn-large btn-primary" href="#">Tagㄇ</a>
                    </div>
                </div>

            </div>
            <div class="item">
                <!-- <img src="http://splashmagazine.com/wp-content/uploads/2013/03/Crisp-simple-bootstrap-templates.jpg" alt=""> -->
                <div class="container">
                    <div class="cell_container">
                        <div class="cell_html_code"></div>
                        <div class="center_cell">
                        <div class="column">
                            <a href="">
                                <div class="session">第一場</div>
                                <div class="hc_title">早安</div>
                            </a>
                        </div>
                        <div class="column">
                            <a href="">
                                <div class="session">第一場</div>
                                <div class="hc_title">紹祥家的燈好漂亮</div>
                            </a>
                        </div>
                        <div class="column">
                            <a href="">
                                <div class="session">第一場</div>
                                <div class="hc_title">被蚊子咬了三的包～～</div>
                            </a>
                        </div>
                        <div class="column">
                            <a href="">
                                <div class="session">第一場</div>
                                <div class="hc_title">紹祥愛唱歌拉拉拉拉拉拉</div>
                            </a>
                        </div>
                        <div class="column">
                            <a href="">
                                <div class="session">第一場</div>
                                <div class="hc_title">肚子二了等一下要吃東西</div>
                            </a>
                        </div>
                        <div class="column">
                            <a href="">
                                <div class="session">第一場</div>
                                <div class="hc_title">嗚嗚嗚嗚嗚嗚嗚唧唧唧唧唧唧ㄐㄧ</div>
                            </a>
                        </div>
                        <div class="column">
                            <a href="">
                                <div class="session">第一場</div>
                                <div class="hc_title">逼逼逼逼逼憋波波波波波</div>
                            </a>
                        </div>
                        <div class="column">
                            <a href="">
                                <div class="session">第一場</div>
                                <div class="hc_title">電腦燙燙ㄉ</div>
                            </a>
                        </div>
                        <div class="column">
                            <a href="">
                                <div class="session">第一場</div>
                                <div class="hc_title">(｀∇´)ψψ(｀∇´)ψψ(｀∇´)ψ</div>
                            </a>
                        </div>
                        <div class="column">
                            <a href="">
                                <div class="session">第一場</div>
                                <div class="hc_title">ψOψOψOψ</div>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.carousel -->

    <!-- Head Picture
        ================================================== -->

      <div class="show_cover">
        <%=image_tag('hc_cover.jpg', id: "hc_cover") %>
        <div class="mask"></div>
                <div class="when">Time
                        fooooo
                </div>
                <div class="place"> Place 
                        fooooo
                </div>
                <div class="chairman">Chairman 
                        fooooo
                </div>
                <div class="organizer">Organizer 
                        fooooo
                </div>
                <div class="keyword">Keyword 
                        fooooo
                </div>

      </div>

    <!-- /.Head Picture -->

    <!-- Content 
    ================================================== -->

    <div class="article_content">
        <div class="con_description">
            <div class="con_title">
                會議描述
            </div>
            <div class="con_content">
                本會議一開始就因為程序問題爭論不休了一小時，在中場休息之後才進入正式議題。有些專家學者認為兩岸服貿協議棄守台灣國家安全；也有民眾認為政府從未與產業代表溝通，因此訂出的政策都不是人民所需；同時很多產業希望政府能提出評估結果。政府關院方面則表示，服貿只開放投資，而不開放就業，且陸資來台可以創造六千多個工作機會；而國家安全方面，已請經濟部進行調查。
            </div>
        </div>
        <div class="discuss">
            <div class="con_title">
                討論提綱
            </div>
            <div class="con_content">
                （一）自用小客車租賃業、旅客運輸（限於小客車租賃業）、貨物運輸業、公路運輸支援服務業（限公路客運的轉運站、車站、調度站）的產業狀況。<br>
                （二）上述產業在海峽兩岸服務貿易協議之開放內容及開放現狀。<br>
                （三）我方開放上述產業的影響評估（含效益及衝擊分析，可包括經濟、就業、社會、文化及國安等層面）<br>
                （四）我方開放上述產業是否只對財團有利？對中小企業不利？<br>
                （五）政府是否已建立安全管理機制及作好市場秩序管理？<br>
                （六）政府是否已做好產業支援、救濟補償、就業輔導等相關配套措施？<br>
            </div>
        </div>
    

    <div class="compare_content">
        <div class="con_title">
                前後比較
        </div>
        <div id="com_container">
                <div id="nothing">
                </div>
                <div id="com_before">
                    BEFORE
                    <br>
                    <span>(WTO)</span>
                </div>
                <div id="com_after">
                    AFTER
                    <br>
                    <span>(兩岸服務貿易協定)</span>
                </div>
                <div id="primary">
                    <div id="p1">
                    跨境提供服務
                    </div>
                    <div id="p2">
                    境外消費
                    </div>
                    <div id="p3">
                    商業據點呈現
                    </div>
                    <div id="p4">
                    自然人呈現
                    </div>

                </div>
                
                <div id="secondary">
                    <div id="c1">
                    無限制
                    </div>
                    <div id="c2">
                    無限制
                    </div>
                    <div id="c3">
                    無限制
                    </div>
                    <div id="c4">
                    除水平承諾所列除外，不予承諾
                    </div>

                </div>
                
                <div id="content">
                    <div id="s1">
                    無限制
                    </div>
                    <div id="s2">
                    無限制
                    </div>
                    <div id="s3">
                    允許大陸服務提供者在臺灣以獨資、合資、合夥及設立分公司等形式設立商業據點，提供包裹等物品的快遞服務。
                    </div>
                    <div id="s4">
                    同「電腦及其相關服務業」的承諾。
                    </div>

                </div>
                
           
        </div>
    </div>
    <div class="separation"></div>

    <!-- Content -->

    <!-- Question
    ================================================== -->
    
    <div class="question">
        <div class="question_border">政府給問嗎？</div>
        <div class="question_content">
            <div id="circle1" class="circle">Q</div>

        </div>
        <div class="question_content">
            <div id="circle1" class="circle">Q</div>

        </div>
        <div class="question_content">
            <div id="circle2" class="circle">A</div>

        </div>
        <div class="question_content">
            <div id="circle1" class="circle">Q</div>

        </div>
        <div class="question_border"></div>
    </div>

    <!-- Question -->


    <!-- Text
    ================================================== -->

    <div class="text">

        <div id="img_button">
           <%=image_tag('close_article.png', :id => "close_article")%>
        </div>

        <div class="con_title">公聽會會議記錄逐字紀錄</div>

        <div id="all_folder">

                <div id="folder2">
                  <input type="checkbox" id="toggle2"/> <label for="toggle2" id="toggle-label2"><u>其他</u>  主席張慶忠的程序問題</label>
         
                    <div class="fold2">
                    Nice to meet you!
                    </div>
                    <div class="fold2">
                    紹祥唱老歌ㄏㄏ 
                    </div>
                    <div class="fold2">
                    web is going to finish ya :D
                    </div>
                    <div class="fold2">
                    :DDDDDDDDDDDDDDDDDDDDDD
                    </div>
                    <div class="fold2">
                    Element 5
                    </div>
                </div>

        <!--          <div id="folder">
                      <input type="checkbox" id="toggle"/> <label for="toggle" id="toggle-label">交通部范植谷次長 贊成</label>
                        <div class="fold">
                        主席、各位委員。針對剛才各位的發言，本人分幾點說明。
                        </div>
                    </div>
        -->


                <div id="folder">
                  <input type="checkbox" id="toggle"/> <label for="toggle" id="toggle-label">交通部范植谷次長 <u>贊成</u></label>
         
                    <div class="fold">
                    主席、各位委員。針對剛才各位的發言，本人分幾點說明。
                    </div>
                    <div class="fold">
                    首先，有一點必須強調，之前王主委與林董事長已經說過，本場公聽會所討論的幾個行業別的開放項目，已於98年及101年開放，到目前為止，尚未有陸資前來投資。
                    </div>
                    <div class="fold">
                    其次，就我方開放陸資，與陸資開放我方而言，均需基於對等、公平及互惠等原則。剛才小客車租賃業代表提到兩岸駕照互通問題，目前我們已經循小兩會方式，透過兩岸溝通機制，洽請海基會查告陸方有關臨時駕駛證之相關規定及實務執行情形。在相關資料拿到後，交通部將在陸委會及相關機關協助下，依照平等、互惠原則研議互惠使用辦法
                    </div>
                    <div class="fold">
                    至於路線貨運公會及貨櫃貨運公會所提問題，在此我一併說明如下。有關貨運三業，汽車貨運業、路線貨運業及貨櫃貨運業的分業問題，交通部早於去年要求運研所對該三項行業之分業問題，提出提升改善與加強競爭力方案，當中包括分業檢討在內。除傳統三業外，尚有物流業，這也是貨運業的一種新發展趨勢，因此我們已經要求運研所對於該三項行業，與相關新的發展趨勢進行檢討。
                    </div>
                    <div class="fold">
                    另外，剛才有人提到路線貨運業的家數限制問題。基本上，一般貨運業市場是個完全競爭市場，因此，這部分是否需要有家數限制？我認為不大可能。不過路線貨運業將來是否還是維持？這畢竟是一個寡占市場，所以這點是可以討論的。
                    </div>
                    <div class="fold">
                    對於所有的開放項目，本部除委由運研所就業別與政策面進行研議外，也會繼續加強辦理與產業公會或工會的溝通、協商，如涉及法令鬆綁或法規修正，以及如何強化本國業者競爭力等問題，我們會請公路總局儘速、密集地召開溝通說明會，同時也歡迎所有工會團體參與。            
                    </div>
                    <div class="fold">
                    以上報告，敬請指教，謝謝。
                    </div>
                </div>

                <div id="folder3">
                  <input type="checkbox" id="toggle3"/> <label for="toggle3" id="toggle-label3"><u>反對</u> 臺灣省汽車路線貨運商業同業公會聯合會陳耀昌秘書長</label>
         
                    <div class="fold3">
                    Element 1
                    </div>
                    <div class="fold3">
                    Element 2
                    </div>
                    <div class="fold3">
                    Element 3
                    </div>
                    <div class="fold3">
                    Element 4
                    </div>
                    <div class="fold3">
                    Element 5
                    </div>
                </div>

        
        </div>

    </div>
 
    <!-- Text -->


<script>

    $("#close_article").click(function() {
    if ($(this).attr("src") == "/assets/close_article.png") {
          $("#close_article").attr("src","<%=asset_path('open_article.png')%>");
        document.getElementById("toggle").checked = true;
        document.getElementById("toggle2").checked = true;
        document.getElementById("toggle3").checked = true;
    }
    else {  
        $("#close_article").attr("src","<%=asset_path('close_article.png')%>");
        document.getElementById("toggle").checked = false;
        document.getElementById("toggle2").checked = false;
        document.getElementById("toggle3").checked = false;
    }
    });

</script>
