
    <div class="container marketing">
        <section class ="newsWall">
        <h1>戰役全記錄</h1>
            <div class="topNews">
            <img src="/assets/img6.jpg"/>
            <div class="viedo"> VIEDO沒影片的我晚點再寫喲>_^ </div>
            </div>

            <div class="data"> 
              <h1> 戰役名稱：「石化工業政策評估說明書」公聽會 </h1>
              <div> 開戰時間：100 年 2 月 11 日(星期五)上午 9 時 30 分 <br> 戰役地點：行政院環境保護署 4 樓第 5 會議室  <br> 戰役主席：邱文彥<br>戰場焦點：石化工業政策為指導性計畫，為通過前應先將個案（國光石化、六輕五期等）審查暫停，否則在指導性計畫通過前先通過個案環評將有違公正性。而近年來台灣的政策綱領即為節能減碳，然而石化政策評估卻絲毫沒有提到，是否有違此發展政策？而整份石化政策的評估報告書十分簡略，甚至玩起數字遊戲，讓人民更無法信任政府舉辦公聽會的誠意。
              </div>

            </div>
        </section>

        <section class="text">
            <div id="menu">
              <ul>
                <li><a class="hover_tab" href="#tab1">逐字稿</a></li>
                <li><a href="#tab2">問題集</a></li>
                <li><a href="#tab3">目前支援狀況</a></li>
                <li><a href="#tab4">Wiki</a></li>
                <li><a href="#tab5">HACKPAD</a></li>
              </ul>
            </div>
            <div style="clear:both"></div>
            <div id="txt_cont">
              <div class="txt_tab" id="tab1">
                <!-- TABS FRAME -->
                <section class="tabs-frame">
                  <!-- TAB 1 -->
                  <article class="tab">
                    <input type="radio" id="tab_1" class="radio" name="tab_group_1" />
                    <label for="tab_1" class="tab-button"></label>
                    <section id="tab_frame_1" class="tab-frame">
                      <p>　政策環評程序2009 年全國能源會議之共識意見指出「能源密集產業設置應依規定儘速完成「能源密集產業發展政策」之政策環評，減少產業重大投資案之爭議。進行政策環評時並應召開聽證會。」而石化工業政策環評過程，僅召開公聽會，並未舉行聽證程序。故應依行政程序法，舉辦聽證會後，方可提送行政院環境保護署（以下簡稱環保署）審查。</p>
                    </section>
                  </article>
                  <!-- TAB 2 -->
                  <article class="tab">
                    <input type="radio" id="tab_2" class="radio" name="tab_group_1" />
                    <label for="tab_2" class="tab-button"></label>
                    <section id="tab_frame_2" class="tab-frame">
                      <p>現行公聽會議程根本無法實問實答，充分討論甚至連「爭點」都沒有；若行政院環境保護署無法拿出肩膀舉辦聽證，至少應參考「預備聽證」程序，先舉行「範疇界定」，釐清爭點，專家人選、議程進行方式。</p>
                    </section>
                  </article>
                  <!-- TAB 3 -->
                  <article class="tab">
                    <input type="radio" id="tab_3" class="radio" name="tab_group_1" checked />
                    <label for="tab_3" class="tab-button"></label>
                    <section id="tab_frame_3" class="tab-frame">
                      <p>從前面環保署也承認，政策環評與個案環評雖不同，但仍有相當的關聯性，從前面得知石化政策環評如此錯誤百出，如果上位政策環評之爭議無法釐清，下位個案之環評要怎麼做，會不會牴觸政策環評，這個國家是ㄧ個非常危險的，如果在政策環評確認之前就做個案環評，從以前許多例證（八輕、六輕五期等）可以得知，如果是基於ㄧ個不充分、不正確的資訊作出的結論，這樣的行政處分，是有瑕疵的結論，後續法律的效益如何？從過去之案例得知，殷鑑不遠了。</p>
                    </section>
                  </article>
                  <!-- TAB 4 -->
                  <article class="tab">
                    <input type="radio" id="tab_4" class="radio" name="tab_group_1" />
                    <label for="tab_4" class="tab-button"></label>
                    <section id="tab_frame_4" class="tab-frame">
                      <p>石化工業發展願景之一，維持國內雙石化體系均衡發展，純粹是為中油投資國光石化找藉口。 依「評估說明書」，目前雙石化體系不均，若泛中油體系增加產能，則得以驅使廠商間之良性競爭。何謂「良性競爭」？以目前中油與台塑兩家石油公司的油價同漲同跌，亦步亦趨的情況來看，兩個體系只不過是形成聯合壟斷而已，何來「良性競爭」？</p>
                    </section>
                  </article>
                  <!-- TAB 5 -->
                  <article class="tab">
                    <input type="radio" id="tab_5" class="radio" name="tab_group_1" />
                    <label for="tab_5" class="tab-button"></label>
                    <section id="tab_frame_5" class="tab-frame">
                      <p>關於問卷部分，建議重做。雖然是從 99 年就開始做，但問卷樣本 50%在臺北市，剩下的在彰化、高雄，更少部分在其他地區，如此的問卷分配比率讓人驚訝，我們都知道石化工業的重鎮是在高雄，現在還有一個是在雲林，並不是在臺北，因此，如此的問卷設計有失妥當。另外，由於八輕案，濕地、白海豚、信託問題已經受到越來越多人的重視，相信重做問卷會反映出更多人對石化政策環評的不支持。僅管如此，以目前的問卷結果顯示，民眾接受度覺得不好的，已有一半以上，建議重做政策環評，更不應通過。</p>
                    </section>
                  </article>
                </section>
              </div>

              <div class="txt_tab" id="tab2"><br>問：國光石化所開發的地點似乎與白海豚的棲息地有相當的重疊性，請問政府是如何回應相關問題呢？<br>
            答：本場公聽會絲毫沒有解答。主席邱文彥表示會在下一次公聽會回答相關問題。<br><br>
            問：國光石化政策為指導性的計畫，但是六輕等都同時在進行環評，這樣萬一個案環評先過了怎麼辦？<br>
答：石化政策環評如此錯誤百出，如果上位政策環評之爭議無法釐清，下位個案之環評要怎麼做，會不會牴觸政策環評，這個國家是ㄧ個非常危險的，如果在政策環評確認之前就做個案環評，從以前許多例證（八輕、六輕五期等）可以得知，如果是基於ㄧ個不充分、不正確的資訊作出的結論，這樣的行政處分，是有瑕疵的結論。<br><br>
 
              </div>
              <div class="txt_tab" id="tab3">
                <img style="float:left; margin:2px 6px 2px 0" src="http://quellidelcucuzzolo.altervista.org/demo/tab-menu-jquery/img/landscape.jpg" alt="" width="138" height="91" />公聽會已舉行完畢！尚缺影片連結<br><br>

              </div>
              <div class="txt_tab" id="tab4">國光石化開發案原來預定投資新台幣9,336億元，後來修正為新台幣6,325億元[3]。工業區中含煉油（Refinery）廠、烯烴（Olefins）廠、芳香烴（Aromatics）廠及中下游工廠，其目的之一是搬遷目前位於高雄市楠梓區的高雄煉油廠及其所屬之「五輕」。
2006年，民進黨蘇貞昌擔任行政院長後，宣布啟動「大投資、大溫暖」計畫並將國光石化開發案列為該計畫重大開發案之一。2007年3月29日，行政院副院長蔡英文在行政院財經小組會議因台鋼案及國光石化案環評冗長對環保署開砲，要求環保署宜在兼顧環保、產業發展兼籌並顧的原則下，研議簡化環評流程並使之透明化[4]。後來鑑於在雲林離島工業區建廠之環評、購地等各方面的困難，再加上彰化縣政府的積極爭取，2007年11月30日行政院副院長邱義仁決定國光石化由雲林台西鄉改至彰化縣大城鄉。2008年1月25日發函，將石化科技園區自雲林工業區移至彰化西南角海埔工業區；經濟部2008年3月18日函送行政院，經建會於2008月4月14日召開會議同意，並將彰化大城工業區列為國家重大計劃，藉以避免受禁止開發海埔新生地的保育禁令限制以利此案能填海造陸興建國光石化園區。不過後來政權即將輪替，民進黨政府臨時喊卡，行政院以「內閣即將改組，列為重大計畫茲事體大」為由，在2008年5月14日函覆指示經濟部，依未來國家整體規畫審視後再報院；把此一提案留待新政府決定。
政權輪替後，國光石化董事會於2008年6月24日決議將努力多年的雲林離島工業區建廠計畫轉向彰化縣大城鄉，但要求政府保證2015年能如期投產，否則股東將會撤資。據2008年12月1日報載，為了發展經濟, 行政院以專案將國光石化開發案核定列為國家重大投資計畫[5][6]。2011年4月3日，身為總統的馬英九，以及民進黨代表蘇貞昌和蔡英文參加在彰化的反國光石化餐會，馬英九因為不願簽署承諾書，發言被主持人以及台下群眾打斷，蘇貞昌及蔡英文則是當場簽署反國光石化的承諾書。
2011年4月22日，馬英九親自宣布不支持國光石化案在彰化縣繼續進行[7]。雲林縣、高雄市憂心國光石化移往轄內，也在隨後立即表態不歡迎。
              </div>
              <div class="txt_tab" id="tab5">
               <script src="https://publichear.hackpad.com/kwerYO9jkiK.js"></script><noscript><div>View <a href="https://publichear.hackpad.com/kwerYO9jkiK">Welcome to hackpad - the collaborative notepad</a> on Hackpad.</div></noscript>
              </div>
            </div>
        </section>

        <section class="forum">
          <h1>討論區</h1>
         <div id="disqus_thread"></div>
        </section>


        <section class="nowArticle">
            <h1> 相關戰況分析 </h1>

         <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-1">
                <img class="img-circle" src="http://i.imgur.com/9rBFY5N.png">
                <h2>石化業是否符合節能減碳的政策綱領？／心萍一</h2>
                <p>環保署今天舉行「石化工業政策評估說明會」公聽會，多位學者對於經濟部工業局提出的乙烯自給率計算模式、石化產業與經濟及就業關聯性、以及工業局支持國光石化的雙石化體系是否合理等有不同看法... </p>
                <p><a class="btn" href="public-hearing.herokuapp.com/posts/8">View&raquo;</a></p>
            </div>
            <!-- /.span4 -->
            <div class="col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-1">
                <img class="img-circle" src="http://i.imgur.com/p1TdyQO.png" >
                <h2>標題／作者二</h2>
                <p>C'est le temps que tu as perdu pour ta rose qui fait ta rose si important.C'est le temps que tu as perdu pour ta rose qui fait ta rose si important.C'est le temps que tu as perdu pour ta rose. </p>
                <p><a class="btn" href="#">View&raquo;</a></p>
            </div>
            <!-- /.span4 -->
            <div class="col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-1">
                <img class="img-circle" src="http://i.imgur.com/kACmMbb.png">
                <h2>標題／作者三</h2>
                <p>C'est le temps que tu as perdu pour ta rose qui fait ta rose si important.C'est le temps que tu as perdu pour ta rose qui fait ta rose si important.C'est le temps que tu as perdu pour ta rose.</p>
                <p><a class="btn" href="#">View&raquo;</a></p>
            </div>
            <!-- /.span4 -->
        </div>
        <!-- /.row -->

        </section>
        <%= link_to "撰寫自己的戰況分析", new_hearing_conference_post_path(:hearing_conference_id => params[:id]), class: "btn btn-danger btn-lg btn-block" %>
        <section class="seriesNews">
            <h1> 相關及系列公聽會戰役 </h1>

         <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-1">
                <img class="img-circle" src="http://i.imgur.com/3o5inFs.png">
                <h2>公聽會第六場 <br>證券、期貨及其相關服務業</h2>
                <p>102年10月3日（星期四）15時3分至16時36分立法院第8屆第4會期內政、外交及國防、經濟、財政、教育及文化、交通、司法及法制、社會福利及衛生環境八委員會「海峽兩岸服務貿易協議」公聽會（第六場）會議紀錄

                </p>
                <p><a class="btn" href="#">View&raquo;</a></p>
            </div>
            <!-- /.span4 -->
            <div class="col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-1">
                <img class="img-circle" src="http://i.imgur.com/3o5inFs.png" >
                <h2>公聽會第二場 <br>海運、公路運輸</h2>
                <p>102年9月30日（星期一）14時34分至17時36分立法院第8屆第4會期內政、外交及國防、經濟、財政、教育及文化、交通、司法及法制、社會福利及衛生環境八委員會「海峽兩岸服務貿易協議」 
                公聽會（第二場）會議紀錄</p>
                <p><a class="btn" href="#">View&raquo;</a></p>
            </div>
            <!-- /.span4 -->
            <div class="col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-1">
                <img class="img-circle" src="http://i.imgur.com/3o5inFs.png">
                <h2>公聽會第七場 <br>快遞、空運、貨物集散與承攬</h2>
                <p>102年10月7日（星期一）9時1分至11時25分立法院第8屆第4會期內政、外交及國防、經濟、財政、教育及文化、交通、司法及法制、社會福利及衛生環境八委員會「海峽兩岸服務貿易協議」公聽會（第七場）會議紀錄
                </p>
                <p><a class="btn" href="#">View&raquo;</a></p>
            </div>
            <!-- /.span4 -->
        </div>
        <!-- /.row -->

        </section>



    </div>
<script type="text/javascript">
  $(document).ready(function(){
  $('div#txt_cont div:gt(0)').css('display', 'none');
  $('#menu ul li a').click(function(event){
    event.preventDefault();
    var id_tab = $(this).attr('href');
    $('#menu ul li a').removeClass('hover_tab');
    $(this).addClass('hover_tab');
    $('div.txt_tab:visible').hide();
    $(id_tab).show('slide');
  });
});
</script>
 <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52d563651bc09130"></script>
<!-- AddThis Button END -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'publichearing'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
 <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'publichearing'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>